@import "assets/styles/colors";

* {
  font-family: 'Roboto Mono', monospace;
  box-sizing: content-box;
}

body {
  background-color: $black;
  color: $white;
}

.password-generator {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  flex-direction: column;

  &__action-btn {
    width: 80%;
    align-self: center;
    margin-top: 0.75rem;
    background-color: $white;
    border: 0;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: $black;
    outline: none;
    transition-duration: 100ms;

    &:active {
      background-color: $success;
    }
  }

  @media (min-width: 768px) {
    width: 40%;
  }

  @media (min-width: 1024px) {
    width: 30%;
  }

  @media (min-width: 1440px) {
    width: 20%;
  }
}