@import "../../assets/styles/colors";

.password-generator {
  &__settings {
    margin-bottom: .75rem;

    &__item {
      label {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
        cursor: pointer;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        background-color: $white;
        outline: none;
        cursor: pointer;
        transition-duration: 0.3s;

        &:checked {
          position: relative;
          background-color: $success;
        }
      }

      span {
        padding-left: 0.25rem;
      }
    }

    &__length {
      margin-bottom: 0.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input[type=range] {
        -webkit-appearance: none;
        width: 60%;
        margin: 13.8px 0.5rem;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: $success;
        border-radius: 1.3px;
        border: 0.2px solid $black;
      }
      input[type=range]::-webkit-slider-thumb {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -8px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: $success;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: $success;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: #ffffff;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: $success;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      }
      input[type=range]::-ms-fill-upper {
        background: $success;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
      }
      input[type=range]::-ms-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        height: 8.4px;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: $success;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: $success;
      }

      input[type="number"] {
        width: 20%;
        margin-left: .5rem;
        text-align: center;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $white;
        color: $white;
        &:active, &:focus {
          border-bottom: 1px solid $success;
        }
      }
    }
  }
}